@charset "utf-8";
/* ******************* *
* Pretendard Font
* 라이센스출처: https://cactus.tistory.com/306
* font-weight: 400(Regular) / 500(Medium) / 600(SemiBold) / 700(Bold)
* ******************* */
@font-face {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(./../../public/font/pretendard/Pretendard-Regular.woff2) format('woff2'),
		 url(./../../public/font/pretendard/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url(./../../public/font/pretendard/Pretendard-Medium.woff2) format('woff2'),
		 url(./../../public/font/pretendard/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url(./../../public/font/pretendard/Pretendard-SemiBold.woff2) format('woff2'),
		 url(./../../public/font/pretendard/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url(./../../public/font/pretendard/Pretendard-Bold.woff2) format('woff2'),
		 url(./../../public/font/pretendard/Pretendard-Bold.woff) format('woff');
}


/* ******************* *
* Paperlogy Font
* 라이센스출처: https://freesentation.blog/paperlogyfont
* font-weight: 400(Regular) / 500(Medium) / 600(SemiBold) / 700(Bold)
* ******************* */
@font-face {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(./../../public/font/Paperlogy/Paperlogy-Regular.woff2) format('woff2'),
		 url(./../../public/font/Paperlogy/Paperlogy-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url(./../../public/font/Paperlogy/Paperlogy-Medium.woff2) format('woff2'),
		 url(./../../public/font/Paperlogy/Paperlogy-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url(./../../public/font/Paperlogy/Paperlogy-SemiBold.woff2) format('woff2'),
		 url(./../../public/font/Paperlogy/Paperlogy-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url(./../../public/font/Paperlogy/Paperlogy-Bold.woff2) format('woff2'),
		 url(./../../public/font/Paperlogy/Paperlogy-Bold.woff) format('woff');
}
