@charset "utf-8";

.cate_tab {
  margin-bottom: 40px;
}
.cate_tab ul {
  display: flex;
  margin: 0 -5px;
}
.cate_tab ul li {
  width: 198px;
  margin: 0 5px;
  padding: 14px 22px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.cate_tab ul li::after {
  content: "";
  display: none;
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-right: 4px solid #1d1d1f;
  border-bottom: 4px solid #1d1d1f;
  border-left: 4px solid transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  bottom: 0;
  right: 30px;
  margin: auto;
}
.cate_tab ul li.active::after {
  display: block;
}
.cate_tab ul li span {
  font-size: 1.18em;
  font-weight: 700;
}

/* ******************* *
* cate_content 공통 부분
* ******************* */
.work_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -10px;
}

@media all and (max-width: 768px) {
  .cate_tab.is_mobile {
    position: relative;
  }
  .cate_tab.is_mobile .tab_btn {
    width: 100%;
    height: 50px;
    padding: 0 22px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    font-size: 1.18em;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  .cate_tab.is_mobile .tab_btn::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #00a0e8;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    transform-origin: center;
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 10px;
    margin: auto;
    margin-right: 7px;
  }
  .cate_tab.is_mobile .tab_btn.is_open {
    background: #00a0e8;
    border-radius: 10px 10px 0 0;
    border-color: #00a0e8;
    color: #fff;
  }
  .cate_tab.is_mobile .tab_btn.is_open::after {
    border-color: #fff;

    transform: rotate(-135deg);
    top: 4px;
  }
  .cate_tab.is_mobile .tab_wrap {
    width: 100%;
    border: 1px solid #d9dbe0;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 11;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .cate_tab.is_mobile .tab_wrap.show {
    opacity: 1;
    max-height: 300px;
  }
  .cate_tab.is_mobile ul {
    flex-wrap: wrap;
    margin: 0;
  }
  .cate_tab.is_mobile ul li {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: none;
  }
  .cate_tab.is_mobile ul li:not(:last-child) {
    border-bottom: 1px dotted #d9dbe0;
  }
  .cate_tab.is_mobile ul li::after {
    display: none;
  }
  .cate_tab.is_mobile ul li span {
    font-size: 1em;
    font-weight: 500;
  }
}
